.dashboard h1{

    margin-bottom:30px;

}



.cards{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}



.card{

    width:220px;

    background:white;

    padding:30px;

    border-radius:12px;

    text-align:center;

    box-shadow:0 0 10px rgba(0,0,0,0.15);

}



.card h2{

    font-size:35px;

    color:#2563eb;

    margin-bottom:10px;

}



.card p{

    font-size:17px;

    color:#374151;

}