.navbar{

height:60px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 25px;

background:#2563eb;

color:white;

}



.navbar-right{

display:flex;

align-items:center;

gap:20px;

}



.welcome{

font-size:16px;

}



.logout-btn{

padding:8px 15px;

border:none;

border-radius:5px;

cursor:pointer;

background:white;

color:#2563eb;

}



.logout-btn:hover{

opacity:0.8;

}