.sidebar{

    width:230px;

    height:calc(100vh - 60px);

    background:cadetblue;

    display:flex;

    flex-direction:column;

    padding-top:20px;

}


.sidebar a{

    color:white;

    text-decoration:none;

    padding:15px 25px;

    font-size:16px;

}


.sidebar a:hover{

    background:#2563eb;

}